.main { 
  display: flex;
  flex-direction: column;
  width: 45%;
  --blackBorder: 1px solid black;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todoItem {
  display: flex;
  width: auto;
  margin: 1rem 0;
}

.item {
  margin-left: 1rem;
}

.textBar {
  border: var(--blackBorder);
  border-radius: 2px;
  padding: 0.5rem;
}

.label {
  margin: 0.5rem 0;
}

.addBtn {
  border-radius: 2px;
  margin: 0.5rem 0;
  width: 4rem;
  border: var(--blackBorder);
  background-color: transparent;
}

.remove {
  height: 1.5rem;
  width: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
  border: var(--blackBorder);
  border-radius: 5px;
  background-color: pink;
}

.remove:hover {
  cursor: pointer;
}

